@use "../../styles/mixins.scss";

.layoutWrapper {
  min-height: 100vh;
  @include mixins.flex($direction: column);
}

.mainContent {
  @include mixins.flex(
    center,
    center,
    $direction: column,
    $gap: var(--space-xl)
  );
  padding: 0 var(--space-md);
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: mixins.$desktop-min) {
    @include mixins.flex(center, center, $gap: var(--space-xl));
  }
}
