@use "../../styles/mixins.scss";

.contentWrapper {
  @include mixins.flex(flex-start, center, column, $gap: var(--space-xl));
  width: 80%;
  max-height: 50vh;
  background: rgba(255, 255, 255, 0.05);
  padding: var(--space-xl);
  border-radius: var(--space-xl);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);

  @media (min-width: mixins.$desktop-min) {
    justify-content: center;
  }
}

.leaderboardWrapper {
  @include mixins.flex(center, center, column);
  width: 20%;
  max-height: 50vh;
  background: rgba(255, 255, 255, 0.05);
  padding: var(--space-xl);
  border-radius: var(--space-xl);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.content {
  @include mixins.flex(center, center, column, $gap: var(--space-md));

  @media (min-width: mixins.$desktop-min) {
    @include mixins.flex(space-between, center);
  }
}

.textWrapper {
  @include mixins.flex(center, center, column);
  width: 100%;

  @media (min-width: mixins.$desktop-min) {
    max-width: 50%;
    @include mixins.flex(center, start, column);
  }
}

.title {
  @include mixins.title();
  margin-bottom: var(--space-md);
}

.description {
  @include mixins.text($color: var(--color-neutral-200), $font-size: 0.8rem);
  text-align: center;

  @media (min-width: mixins.$desktop-min) {
    text-align: start;
  }
}

.configWrapper {
  @include mixins.flex(center, center, column, $gap: var(--space-sm));
}

.startButton {
  margin: 0 auto var(--space-xl) auto;
  height: 5rem;
  background: var(--tertiary);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--space-xl);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}
